<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <head>
  <body style="padding:0px; margin:10px;">
    <header>
      <div style="background-color:#4c208e; padding:20px;"><b style="color:white; font-size:28px; font-weight:bold;"><h1 class="logo">USDA</h1>     </div>

        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="{{ url_for('list') }}">FOOD LIST</a></li>
          </ul>
        </nav></strong>

    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>